name: Bump cacert.pem

on:
  workflow_dispatch:
  schedule:
    # Run daily
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  bump:
    if: github.repository_owner == 'certifi'
    runs-on: ubuntu-latest
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: make update
      - name: Update date
        id: update-date
        run: |
          if ! git diff --quiet certifi/cacert.pem ; then
            DATE=$(date +"%Y.%m.%d")
            sed -E -i "s/__version__ = .*/__version__ = \"${DATE}\"/" certifi/__init__.py
            echo "DATE=${DATE}" >> $GITHUB_OUTPUT
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: "${{ steps.update-date.outputs.DATE }}"
          title: "${{ steps.update-date.outputs.DATE }}"
          token: ${{ secrets.GITHUB_TOKEN }}
        if: steps.update-date.outputs.DATE
