name: Bump cacert.pem

on:
  workflow_dispatch:
  schedule:
    # Run daily
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  bump:
    if: github.repository_owner == 'certifi'
    runs-on: ubuntu-latest
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - run: make update
      - name: Update date
        id: update-date
        run: |
          if ! git diff --quiet certifi/cacert.pem ; then
            DATE=$(date +"%Y.%m.%d")
            sed -E -i "s/__version__ = .*/__version__ = \"${DATE}\"/" certifi/__init__.py
            echo "DATE=${DATE}" >> $GITHUB_OUTPUT
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@9153d834b60caba6d51c9b9510b087acf9f33f83 # v6.0.4
        with:
          commit-message: "${{ steps.update-date.outputs.DATE }}"
          title: "${{ steps.update-date.outputs.DATE }}"
          token: ${{ secrets.GITHUB_TOKEN }}
        if: steps.update-date.outputs.DATE
